html{
    background-color: hsl(0, 0%, 95%);
    width: 375px;
    height: 1502px;
}


.SedansBox{
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    margin-left: 10px;

    
    display: inline-block;
    width: 355px;
    height: 330px;
    
}
.SUVsBox{
    background-color: hsl(184, 100%, 22%);
    margin-left: 10px;
    
    display: inline-block;
    width: 355px;
    height: 330px;
    
}
.LuxuryBox{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    margin-left: 10px;
    
    display: inline-block;
    width: 355px;
    height: 330px;
}


.SedansIcon{
    padding-left: 30px;
    margin-top: 30px;
}
.SUVsIcon{
    padding-left: 30px;
    margin-top: 30px;
}
.LuxuryIcon{
    padding-left: 30px;
    margin-top: 30px;
}


.WordSedans  {
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Big Shoulders Display', cursive;
    padding-left: 30px;
}
.WordSUVs {
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Big Shoulders Display', cursive;
    padding-left: 30px;
    
}
.WordLuxury {
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Big Shoulders Display', cursive;
    padding-left: 30px;
    
}


.SedansParagraph{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    padding-left: 30px;
}
.SUVsParagraph{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    padding-left: 30px;
}
.LuxuryParagraph{
    color:hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    padding-left: 30px;
}


.SedansButton{
    background-color: hsl(0, 0%, 95%);
    width:130px;
    height: 40px;
    margin-left: 30px;
    margin-top: 40px;
    color: hsl(31, 77%, 52%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
   

}
.textOfSedansButton{
    padding-left:22px;
    padding-top: 10px; 
    text-transform: capitalize;
    font-family:'Lexend Deca', sans-serif;
    

}
.SUVsButton{
    background-color: hsl(0, 0%, 95%);
    width:130px;
    height: 40px;
    margin-left: 30px;
    margin-top: 40px;
    color: hsl(184, 100%, 22%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
}
.textOfSUVsButton{
    padding-left:22px;
    padding-top: 10px;
    text-transform: capitalize;
    font-family:'Lexend Deca', sans-serif;
}
.LuxuryButton{
    background-color: hsl(0, 0%, 95%);
    width:130px;
    height: 40px;
    margin-left: 30px;
    margin-top: 40px;
    color: hsl(179, 100%, 13%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
}
.textOfLuxuryButton{
    padding-left:22px;
    padding-top: 10px;
    text-transform: capitalize;
    font-family:'Lexend Deca', sans-serif;
}

@media (min-width:376px){
    html{
        background-color: hsl(0, 0%, 95%);
        width: 1440px;
        height: 800px;
    }
    
    
    .SedansBox{
        border-radius: 10px 0 0 10px;
        -webkit-border-radius: 10px 0 0 10px;
        -moz-border-radius: 10px 0 0 10px;
        -ms-border-radius: 10px 0 0 10px;
        -o-border-radius: 10px 0 0 10px;
        
        float:left;
        margin-left: 187.5px;
        margin-top: 100px;
        height: 400px;
        

    }   
    .SUVsBox{
        
        
        float:left;
        margin-left: 0;
        margin-top: 100px;
        height: 400px;
        
        
    }
    .LuxuryBox{
        border-radius: 0 10px 10px 0;
        -webkit-border-radius: 0 10px 10px 0;
        -moz-border-radius: 0 10px 10px 0;
        -ms-border-radius: 0 10px 10px 0;
        -o-border-radius: 0 10px 10px 0;
        
        margin-left: 0;
        margin-top: 100px;
        height: 400px;
        
        
        
       
    }






    
    
}


